# Name and hostname of the container created
NVIL_IMAGE=ghcr.io/thomaschampagne/nvil-full:latest
NVIL_CONTAINER_NAME=nvil-sample-full
NVIL_HOME_DATA_NAME=nvil-sample-home-data

# Your Git infos
NVIL_GIT_USER_NAME="Smith Black"
NVIL_GIT_USER_EMAIL="smith.black@dev.local"

# Preferred (modal) editor. Can be "hx" (helix), "nvim" (neovim), "emacs", "nano", "vi", yours...
NVIL_DEFAULT_EDITOR=hx

# IANA timezone identifier
TZ=Europe/Paris
