# Name and hostname of the container created
NVIL_CONTAINER_NAME=nvil-full
NVIL_IMAGE=ghcr.io/thomaschampagne/nvil-full:latest

# Host path to the workspace you will access under /workspace in container
NVIL_WORKSPACE_HOST_PATH=.

# Your Git infos
NVIL_GIT_USER_NAME="Smith Black"
NVIL_GIT_USER_EMAIL="smith.black@dev.local"

# Preferred (modal) editor. Can be "hx" (helix), "nvim" (neovim), "emacs", "nano", "vi", yours...
NVIL_DEFAULT_EDITOR=hx

# IANA timezone identifier
TZ=Europe/Paris